<div>
    <h1>Admin Page</h1>
    <h2>Active Machines</h2>
    <div class="w3-margins">
        <table class="w3-table-all w3-hoverable">
            <tr class="w3-blue">
                <th>ID</th>
                <th>Name</th>
                <th>CPUs</th>
                <th>Power State</th>
                <th>Memory MB </th>
            </tr>
            {{#each active}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.cpu}}</td>
                    <td>{{this.power}}</td>
                    <td>{{this.memory}}</td>
                </tr>
            {{/each}}

        </table>
    </div>
    <h2>Current VM Templates</h2>
    <div class="w3-margins">
    <table class="w3-table-all w3-hoverable">
        <tr class="w3-blue">
            <th>Name</th>
            <th>vSphere Library Item</th>
            <th>CPU Count</th>
            <th>Storage</th>
            <th>RAM</th>
            <th>Operating System</th>

        </tr>
        {{#each template}}
            <tr>
                <td><input value="{{this.name}}"></td>
                <td>{{this.library_item}}</td>
                <td>{{this.cpu}}</td>
                <td>{{this.storage}}GB</td>
                <td>{{this.RAM}}GB</td>
                <td>{{this.OS}}</td>
                <td><button class="w3-btn w3-blue">UPDATE</button></td>
                <td><button class="w3-btn w3-red">DELETE</button></td>
            </tr>
        {{/each}}
    </table>
        <h2>Add New Template</h2>
        <br>
        <p>After creating template on vSphere please insert the details below</p>
        <div id="addTable">
            <table class="w3-table-all w3-hoverable">
                <tr class="w3-blue">
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        vSphere Library Item
                    </th>
                    <th scope="col">
                        CPU
                    </th>
                    <th scope="col">
                        HDD (GB)
                    </th>
                    <th scope="col">
                        RAM (GB)
                    </th>
                    <th scope="col">
                        Operating System
                    </th>
                </tr>

                <tbody>
                <form  action="/template" method="post">
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="Name">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="ID" >
                        </td>
                        <td>
                            <input class="form-control" type="text" name="CPU" >
                        </td>
                        <td>
                            <input class="form-control" type="text" name="HDD" >
                        </td>
                        <td>
                            <input class="form-control" type="text" name="RAM" >
                        </td>
                        <td>
                            <input class="form-control" type="text" name="OS" >
                        </td>
                        <td>
                            <button type="submit" class="w3-btn w3-green">Add Template</button>
                        </td>
                    </tr>
                </form>
                </tbody>
            </table>

        </div>

    </div>
    </div>
</div>