<div>
    <script>
        function showLoading(){
            document.getElementById("loading").style.display = "block";
        }
        function showHideEditSpec(){
            if(document.getElementById("edit").checked){
                document.getElementById("editSpec").style.display = "block";
            }else{
                document.getElementById("editSpec").style.display = "none";
            }
        }
    </script>
    <style>
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <div id="loading" style="display:none;" class="w3-panel w3-blue-grey" >
        <div class="modal-content">
            <h1>Your Virtual machine is being deployed and Booted up. Please wait this may take a few minutes</h1>
            <div class="loader"></div>
        </div>
    </div>
    <h2>Available machine specification</h2>
    <table class="w3-table-all w3-hoverable">
        <tr class="w3-blue">
            <th>Name</th>
            <th>CPUs</th>
            <th>HDD</th>
            <th>RAM</th>
            <th>Operating System</th>
        </tr>
        {{#each post}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.cpu}}</td>
                <td>{{this.storage}} GB</td>
                <td>{{this.RAM}} GB</td>
                <td>{{this.OS}}</td>
            </tr>
        {{/each}}
    </table>
    <h2>Select a virtual machine from the drop down box</h2>
    <form action="/deploy" method="post">
        <select name="vmSelect">
            {{#each post}}
                <option value="{{this.library_item}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>
        <p>Please enter the first 5 letters of your surname.</p>
        <input class="form-control" type="text" name="Name" maxlength="5">
        <br>
        <br>
        <button class="w3-btn w3-blue" id="deployBtn" onclick="showLoading()">Create VM</button>
        <h3>Edit Machine Specification</h3>
        <p>Check box to edit the machine specification</p>
        <input class="form-control" type="checkbox" name="edit" id="edit" onchange="showHideEditSpec()" >
        <div id="editSpec" style="display:none;">
            <p>Edit the number of cpu cores the machine has</p>
            <select name="editCPU">
                {{#each cpu}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <p>Edit the RAM the virtual machine has</p>
            <select name="editRAM">
                {{#each ram}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>


    </form>


</div>
