<div>
    <h2>Available machine specification</h2>
    <table class="w3-table-all w3-hoverable">
        <tr class="w3-blue">
            <th>Name</th>
            <th>CPUs</th>
            <th>HDD</th>
            <th>RAM</th>
            <th>Operating System</th>
        </tr>
        {{#each post}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.cpu}}</td>
                <td>{{this.storage}} GB</td>
                <td>{{this.RAM}} GB</td>
                <td>{{this.OS}}</td>
            </tr>
        {{/each}}
    </table>
    <h2>Select a virtual machine from the drop down box</h2>
    <form action="/deploy" method="post">
        <select name="vmSelect">
            {{#each post}}
                <option value="{{this.library_item}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>
        <p>Please enter your surname</p>
        <input class="form-control" type="text" name="Name">
        <button class="w3-btn w3-blue">Create VM</button>
        <h3>Edit Machine Specification</h3>
        <p>Check box to edit the machine specification</p>
        <input class="form-control" type="checkbox" name="edit">
        <input class="form-control" type="text" name="editCPU">
        <input class="form-control" type="text" name="editHDD">
        <input class="form-control" type="text" name="editRAM">
    </form>

</div>
