<div>
    <h2>Select a virtual machine from the drop down box</h2>
    <form action="/deploy" method="post">
        <select name="vmSelect">
            {{#each post}}
                <option value="{{this.library_item}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>
        <p>Please enter your surname</p>
        <input class="form-control" type="text" name="Name">
        <button class="w3-btn w3-blue">Create VM</button>
    </form>

    <h2>Available machine specification</h2>
    <table class="w3-table-all w3-hoverable">
        <tr class="w3-blue">
            <th>Name</th>
            <th>CPUs</th>
            <th>HDD</th>
            <th>RAM</th>
        </tr>
        {{#each post}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.cpus}}</td>
                <td>{{this.hdd}} GB</td>
                <td>{{this.ram}} GB</td
                >
            </tr>
        {{/each}}
    </table>
</div>
