<div>
    <h2>Select a virtual machine from the drop down box</h2>

    <select id="vmSelect">
        {{#each post}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select><br> <button class="w3-btn w3-blue">Create VM</button>

    <h2>Available machine specification</h2>
    <table class="w3-table-all w3-hoverable">
        <tr class="w3-blue">
            <th>Name</th>
            <th>CPUs</th>
            <th>HDD</th>
            <th>RAM</th>
        </tr>
        {{#each post}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.cpus}}</td>
                <td>{{this.hdd}} GB</td>
                <td>{{this.ram}} GB</td>
            </tr>
        {{/each}}
    </table>
</div>
